*.user
*/Debug
*/.vs
/Pendulum/packages/Eigen.3.3.3
/Pendulum/Pendulum/Debug
/Pendulum/Pendulum/x64/Debug
Debug
*.user
.vs
build
*/build
*/bin
*/.pio
.pio

ROS/*.catkin_tools
ROS/*/devel/
ROS/*/build/
ROS/*/logs/